body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}
 
.visibledevice {display:none;}
.visibledesktop {display:display;}
.Haut {display:display;}
.hautm {display: display;}

@media (max-width : 500px) {
    .visibledevice {display:block;}
    .visibledesktop {display:none;}
    .haut {display: none;}
    .hautm {display: display;}
}
.hautm {
    background: linear-gradient(to right, #0d0085, #0004ff);
    overflow: auto;
    white-space: nowrap;
    border-radius: 25px;
    top: 1%;
    left: 1%;
    right: 1%;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
  }
  
.hautm a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    flex-direction: row;
    justify-content: center;
    
  }
  .hautm img {
    border-radius: 25px;
  }
  
.hautm a:hover {
    background-color: #0004ff;
  }

